<mat-card>
    <mat-card-content>
      <div class="header">
        <nav>
        <h2 style="color: blue">  LOGIN FORM </h2>
    </nav>
      </div>
      <div>
        
        <p style="text-align:left ;"> USERNAME</p>
    
      </div>
    
      <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
        <div class="usernameInput">
          <mat-form-field class="full-width" appearance="outline">
            
            <mat-label>Username</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Enter Username" required
            />
            <mat-error *ngIf="!loginForm.controls['email'].valid">
                Username is required
              </mat-error>
          </mat-form-field>
        </div>

        <div>
        
          <p style="text-align: left ;"> PASSWORD</p>
          <mat-form-field class="full-width" appearance="outline">
            
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!loginForm.controls['password'].valid">
            Password is required
          </mat-error>
          
        </mat-form-field>
        </div>
        <div>
            <p style="color: red;">Invalid Credintials!</p>
        </div> 
        <button mat-flat-button color="primary">Login</button>
      </form>

      
    </mat-card-content>
  </mat-card>
